@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes wiggle {
  0%, 100% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(5deg) scale(1.1);
  }
  50% {
    transform: rotate(-5deg) scale(0.9);
  }
  75% {
    transform: rotate(5deg) scale(1.1);
  }
}